name: Node.js CI

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./react-app

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '14.x'
          cache: 'npm'
          cache-dependency-path: react-app/package-lock.json    
      - run: npm install
      - run: npm run build --if-present
      - run: echo $(pwd) && ls && tree
      - uses: actions/upload-artifact@v2
        with:
          name: my-build
          path: react-app/build
          if-no-files-found: error
         
  deploy:
  
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    needs: build
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: my-build
      - run: echo $(pwd) && ls && tree
